.top-container {
  position: relative;
  padding-top: 50px;
  background-image: linear-gradient(lightblue, white);
}
.lighthouse{
  height: 400px;
  width: 60%;
}
body {
  color: navy;
  margin: 0;
  text-align: center;
  font-family: "Barlow", serif;
}
h1 {
  font-weight: bolder;
}
h2{
  color: navy;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: navy;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.skills h2{
  text-align: left;
}
.CV{
  margin: 0;
  text-align: center;
  font-family: "Barlow", serif;
  background-image: linear-gradient(lightblue, white);
}
.CV-title{
  color: navy;
  margin: 0;
  text-align: center;
  font-family: "Barlow", serif;
  font-weight: bolder;
  font-size: 2.5rem;
}
.Education{
  display: inline-block;
}
.hobbies{
  background-image: linear-gradient(lightblue, white);
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  }
.hobbies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.contact-container{
  border-style: solid navy;
  border-radius: 5px;
}
.contact-card {
  display: block;
  border-style: solid;
  border-radius: 5px;
  border-color: navy;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.main-section{
  background-image: linear-gradient(lightblue, white);
}